html,
body {
  margin: 0;
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}
